@import '../../variables.scss';

.pharmacies {
    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, 23.8%);
        gap: 35px 16px;
    }

    .pharmacy-item {
        // max-width: 100%;
        height: 118px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            object-fit: fill;
        }
    }
}

