@import '../../variables.scss';

.aside-nav-list>li {
  cursor: pointer;
}
.aside-nav-list>li a {
    @extend %title-text;
    font-size: 1.125rem;
    color: $black;
  }
  
  .aside-nav-list>li a .active {
    color: $green;
  }

  .aside-nav-list-item + .aside-nav-list-item {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    
      .aside-nav-list {
        display: flex;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 50px;
      }
  
      .aside-nav-list-item + .aside-nav-list-item {
        margin-top: 0px;
      }

  }