@import '../../variables.scss';

.person_data {
    @extend %title-text;
    color: $dark-green !important;
    font-weight: 700;
}

.person_btns {
    button {
        margin-bottom: 1rem !important;
    }
}

#person_delete {
    margin-top: 1rem;
    background-color: $light-green;
    color: $dark-green;
    border: 1px solid red;
}