@import '../../variables.scss';

.empty-basket {
    display: flex;
    align-items: center;
    gap: 140px;
  
    &__info-btn {
      @extend %title-text;
      color: $white;
      background-color: $green;
      padding: 11px 33px;
      border-radius: 6px;
      display: block;
      text-align: center;
      margin-top: 20px;
    }
  }

  @media (max-width: 768px) {
    .empty-basket {
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      gap: 0px;
    } 
  }