@import '../../variables.scss';

.user-data {
    &__inner {
        width: 405px;
        padding: 40px 50px;
        box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        width: 35px;
        height: 35px;
        background-color: transparent;
        border-style: none;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .user-avatar {
        position: relative;
 
        &__img-block {
            width: 72px;
            height: 72px;
            padding: 12px;
            background: #A89F9F;
            border-radius: 20px;

            svg {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }

    .photo-camera {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 65px;
        transform: translate(55px, 0px);
        padding: 0;

        svg {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .user-data {
        margin: 50px 0 0px 0;
        &__item {
            display: flex;
            align-items: center;

            h3 {
               width: 170px; 
               margin: 0px 0;
            }
        }
    }
}