@import '../../variables.scss';

.header {
    .header-inner {
        padding: 45px 0px;
    }
}

.top-header {
    background-color: $light-green;
    margin-bottom: 19px;
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

.left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-list {
    display: flex;
    align-items: center;

    li + li {
        margin-left: 25px;
    }

    li a {
        @extend %sub-title-text;
        font-weight: 400;
        color: $dark-green;
        cursor: pointer;
    }
}

.right {
    display: flex;
    align-items: center;
    gap: 5px;

    a {
        @extend %text;
        color: $grey;
    }
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-btns {
   width: 18%;
   display: flex;
   justify-content: space-between;
}

@media (max-width: 1000px) {

    .top-header,
    .user-btns .sign-btn,
    .catalog-btn {
        display: none;
    }

    .burger-logo-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 19px;
    }
    
    .user-btns {
        width: 10%;
    }

}

@media (max-width: 744px) {
    .header {
        &__logo img {
            width: 54px;
            height: 37px;
        }
    }

  
    .user-btns {
        width: 14%;
    }

}


@media (max-width: 575px) {
    .bottom-header {
        flex-wrap: wrap;
        row-gap: 35px;
    }

    .search-input {
        width: 100%;
        order: 2;
        margin: 0 auto;
    }

    .user-btns {
        width: 20%;
        order: 1;
    }
}
