.favorite {
    display: flex;
    gap: 83px;

    &__info-block h3 {
        font-size: 1.5rem;
    }
}


.cards-block-favorite {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .card {
        margin-bottom: 1rem;
    }
}

.link-buttons-favorit .link-block {
    display: flex;
}

@media (max-width: 768px) {
    .cards-block-favorite {
        justify-content: space-around;
    }  
}
@media (max-width: 425px) {
    .link-buttons-favorit .link-block {
        justify-content: space-around;
    }
}