@import '../../variables.scss';

.content-form {
    margin: 0 auto;
    width: 100%;

    .form-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form-item input {
        padding: 10px ;
    }

    .form-item p {
        color: #ff0000;
    }

    label {
        font-size: 0.875rem;
        margin-bottom: 5px;
    }
   
    button {
        padding: 15px 50px;
        font-size: 1.2rem;
        background-color: $green;
        border-style: none;
        border-radius: 5px;
        color: $white;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }

    .confidentiality {
        display: flex;
        align-items: center;
        margin: 40px 0;

        input {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }

        label a {
            text-decoration: underline;
            color: $green;
        }
    }
}


@media (max-width: 767px) {
    .content-form {
        button {
            padding: 15px 35px;
            font-size: 1rem;
        }
    
    }
}


@media (max-width: 575px) {
    .content-form {
        label {
            font-size: 0.75rem;
            margin-bottom: 5px;
        }

        
        .form-item input {
            padding: 6px ;
        }
        
        button {
            padding: 8px 35px;
            font-size: 1rem;
        }

        .form-item p {
            font-size: 0.75rem;
        }
    
    }
}


@media (max-width: 475px) {
    .content-form {
        button {
            padding: 8px 20px;
            font-size: 0.75rem;
        }
       
    }
}