@import '../../variables.scss';

.my-ordering {
  &__inner {
    display: flex;
    column-gap: 83px;
  }

  .list-order-side {
    width: 70%;
  }

  table {
    background: #F9F9F9;
    width: 100%;
    border-spacing: 0 30px;
  }

  th, td {
    width: 20%;
    padding: 5px 20px;
    text-align: center;
    border-bottom: 1px solid $black;
  }

  thead>tr th{
    border-bottom: 1px solid #DADADA;
  }

  th {
    @extend %text;
    color: #8B8989; 
  }

  .order-list {
    margin-bottom: .5rem;
    border-bottom: 1px solid $black;
    li {
      padding: .3rem;
      text-align: left;
    }

    &_price {
      background-color: #ebc4c4;
    }
  }
}

@media (max-width: 768px) {
  .my-ordering {
    &__inner {
      flex-direction: column;
      column-gap: 30px;
    }

    .list-order-side {
      width: 100%;
    }
  }
}


@media (max-width: 575px) {
  .my-ordering {
    
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    td {
      width: 90%;
    }

    table tr {
      display: block;
      border-bottom: 1px solid #ddd;
      margin-bottom: 30px;
    }

    table td {
      display: block;
      text-align: right;
    }

    table td::before {
         content: attr(data-label);
      float: left;
      color: #8B8989;
    }
  }
}