%style-text {
    font-style: normal;
    line-height: 139.52%;
    letter-spacing: 0.01em;
  }

%title-text {                     //20px
    font-weight: 400;
    font-size: 1.25rem
  }

%sub-title-text {                //16px
    @extend %style-text;
    font-weight: 700;
    font-size: 1rem;
  }

%text {                     //14pxS
    @extend %style-text;
    font-weight: 400;
    font-size: 0.875rem;
  }


// Colors
$green: #27ae60;
$dark-green: #003838;
$light-green: #F5FFFB;
$black: #000000;
$grey: #8B8989;
$white: #FFFFFF;

%display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%btn {
  padding: 15px 50px;
  font-size: 1.2rem;
  background-color: $green;
  border-style: none;
  border-radius: 5px;
  color: $white;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
