@import '../../variables.scss';

.profile-data {
    .user-avatar {
        background-color: #F5FFFB;

        &__inner {
            display: flex;
            align-items: center;
            margin: 40px auto;
        }

        &__img-block {
            width: 72px;
            height: 72px;
            padding: 12px;
            background: #A89F9F;
            border-radius: 20px;
            margin-right: 74px;

            svg {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .user-name {
            font-size: 2rem;
        }
    }

    .photo-camera {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 260px;
        transform: translate(-26px, 0px);
        padding: 0;

        svg {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }


    &__inner {
        display: flex;
        padding: 78px 0;
    }

    .btns-group {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .tab-btns {
        width: 80%; 
        display: flex;
        justify-content: space-between;
    }
}
   