@import '../../variables.scss';

.sign-btn {
    display: flex;
    align-items: center;
    @extend %sub-title-text;
    font-weight: 400;
    color: $dark-green;
    background-color: transparent;
    border-style: none;
    cursor: pointer;

    svg {
        margin-right: 3px;
    }
}